.leaderboard {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    height: 100px;
    width: 300px;
}

.leaderboard .player {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.leaderboard .player + .player {
    margin-left: 1px;
}

.player {
    background-color: #bdc3c7;
}

.player .name {
    font: 24px 'Myriad Pro', 'Arial';
    color: #FFF;
}

.player .name.score {
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.player.winner {
    background-color: #f1c40f;
}

.player.current {
    background-color: #1abc9c;
}
